@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

html {
  height: 100vh;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
  /* max-height: 100vh;
  font-size: 14px; */
  display: flex;
  flex-direction: column;
}

#root {
  height: 100% !important;
  overflow: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form-wrapper {
  padding: 1rem;
  flex: 1;
  overflow: hidden;
}
/* 
.MuiMenu-paper {
  background: transparent !important;
} */
